@font-face {
  font-family: 'BigPixel';
  src: url('/fonts/bigPixel.woff') format('woff');
  font-weight: 1 999;
  font-display: swap;
}

/* Klavika */
@font-face {
  font-family: 'Klavika';
  src: url('/fonts/klavika.woff') format('woff');
  font-weight: 1 999;
  font-display: swap;
}
